<div class="ferry-nav-menu-wrapper">

  <div class="layout-container">

    <div class="ferry-nav-menu">

      <ul class="ferry-nav flex-row">
        <li class="nav-item px-3">
          <a class="nav-link" routerLink="/home" routerLinkActive="active">
            <span>FerryFinder</span>
          </a>
        </li>
      </ul>

      <ul class="ferry-nav flex-row">
        <li class="nav-item px-3">
          <a class="nav-link" routerLink="/ferries" routerLinkActive="active" >
            <span>Ferries</span>
          </a>
        </li>
        <li class="nav-item px-3">
          <a class="nav-link" routerLink="/schedule" routerLinkActive="active" >
            <span>Schedule</span>
          </a>
        </li>
      </ul>
    </div>

  </div>

</div>
